<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="homepg.css" />
        <script>
            function joincall(){
              var a=document.getElementById("rmcode").value;
              console.log(a);
              window.location.href=a;
            }
        </script>
		<title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1>Teams</h1>
			</header>
			<main class="join-main">
				<form action="room.ejs">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<FontAwesomeIcon className="icon-block" icon={faKeyboard} />
                        <input id ="rmcode" type="text" placeholder="Enter a code or link to Join" />
					</div>
                    <button type="submit" class="btn" onClick="window.location.href='/home'">Create a Meeting</button>
					<button type="submit" class="btn" onclick="joincall()">Join Room</button>
				</form>
			</main>
		</div>
	</body>
</html>